<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-PZ16KXM8RZ"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-PZ16KXM8RZ");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Ferhat Aslan</title>
    <link rel="“canonical”" href="https://ferhat-aslan.github.io" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MVRK5PM"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav>
      <ul class="menu">
        <li class="logo"><a href="#">Ferhat ASLAN</a></li>
        <li class="item"><a href="#">Home</a></li>
        <li class="item"><a href="#tech">Tech Stack</a></li>
        <li class="item">
          <a href="#experience">Experience</a>
        </li>
        <li class="item">
          <a href="#experience">Projects</a>
        </li>
        <li class="item">
          <a href="mailto: aslanferhat16@gmail.com">Contact</a>
        </li>
        <li class="item button">
          <a target="_blank" href="https://www.linkedin.com/in/aslanferhat"
            ><img style="height: 40px; width: auto" src="./linkedin.png" alt=""
          /></a>
        </li>
        <li class="item button secondary">
          <a target="_blank" href="https://github.com/ferhat-aslan"
            ><img style="height: 40px; width: auto" src="./github.png" alt=""
          /></a>
        </li>
        <li class="toggle">
          <a href="#"
            ><img
              style="width: 30px; height: 30px"
              src="./menu-4-48.png"
              alt=""
          /></a>
        </li>
      </ul>
    </nav>
    <section class="container-home">
      <div id="particles-js"></div>
      <a
        style="font-size: 30px"
        href=""
        class="typewrite"
        data-period="2000"
        data-type='[ "Hi, I am Ferhat. ", "I am Frontend developer", "I Love coding.", "I Love to Develop." ]'
        ><span class="wrap">Hi, I a</span></a
      >
      <div class="buttons">
        <a class="hire-button" href="mailto: aslanferhat16@gmail.com"
          >Hire Me</a
        >
        <a
          href="./Ferhat Aslan Resume.pdf"
          target="_blank"
          class="download-button"
          >Download Resume</a
        >
      </div>
      <div class="scrolldown-wrapper">
        <div class="scrolldown">
          <svg height="30" width="10">
            <circle class="scrolldown-p1" cx="5" cy="15" r="2"></circle>
            <circle class="scrolldown-p2" cx="5" cy="15" r="2"></circle>
          </svg>
        </div>
      </div>
    </section>
    <section id="tech" class="container">
      <!-- <div class="leftpane">
        
        <div><img class="object-fit " src="./profile-pic.png" alt="">
        </div>
        <br/>
                <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, I am Ferhat. ", "I am Frontend developer", "I Love coding.", "I Love to Develop." ]'>
                  <span class="wrap"></span>
                </a>
                <br/>
                <br/>
                <br/>
                <div class="indent"><p>  I am a Front-end developer based in Turkey. I have the ability to build responsive web design and mobile apps. Proficient with CSS, HTML, Dart, and JS Frameworks, plus React.js, Angular, Node js, Expressjs, MongoDB, Firebase, Flutter, Git, Webflow, Figma, Xd, Uplabs.</p></div>
               <div>
                 <a href="https://github.com/ferhat-aslan"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" alt="" style="width: 35px;height: 35px; margin-left: 15px;margin-right: 15px;">
                  <a href="https://www.linkedin.com/in/aslanferhat/"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="" style="width: 35px;height: 35px; margin-left: 15px;margin-right: 15px;">
                </div> 
        </div> -->
      <div class="middlepane">
        <div class="parallax" style="--rx: 0.1; --ry: 0.25; --rotate: 0.02">
          <div
            class="parallax__item"
            style="
              --pos-x: 84.4;
              --pos-y: 50;
              --size: 739;
              --width: 55;
              --height: 58;
              --x: 50;
              --y: 54;
              --z: 0;
              --r: 0.01;
              --rx: 0;
              --ry: 0;
              --mx: 0.15;
              --my: -0.25;
            "
          ></div>
          <div
            class="parallax__item"
            style="
              --pos-x: 0.25;
              --pos-y: 1.9;
              --size: 2250;
              --width: 25;
              --height: 25;
              --x: 74;
              --y: 15;
              --z: -1;
              --r: 0.6;
              --rx: 0;
              --ry: 0;
              --mx: 1.5;
              --my: -0.85;
            "
          ></div>
          <div
            class="parallax__item"
            style="
              --pos-x: 5.42;
              --pos-y: 0.94;
              --size: 3100;
              --width: 35;
              --height: 35;
              --x: 35;
              --y: 94;
              --z: 0;
              --r: 0.6;
              --rx: 0;
              --ry: 0;
              --mx: 1.5;
              --my: -0.85;
            "
          ></div>
          <div
            class="parallax__item"
            style="
              --pos-x: 0.985;
              --pos-y: 42.349;
              --size: 2550;
              --width: 23;
              --height: 21;
              --x: 145;
              --y: 83;
              --z: 0;
              --r: -0.5;
              --rx: 0;
              --ry: 0;
              --mx: 1.5;
              --my: -0.85;
            "
          ></div>
          <div
            class="parallax__item"
            style="
              --pos-x: 9.091;
              --pos-y: 3.481;
              --size: 1100;
              --width: 39;
              --height: 27;
              --x: 114;
              --y: 21;
              --z: 0;
              --r: 0.75;
              --rx: 0;
              --ry: 0;
              --mx: 1.5;
              --my: -1;
            "
          ></div>
          <div
            class="parallax__item"
            style="
              --pos-x: 18.014;
              --pos-y: 7.37;
              --size: 2500;
              --width: 25;
              --height: 25;
              --x: 17;
              --y: -20;
              --z: 0;
              --r: 0.35;
              --rx: 0;
              --ry: 0;
              --mx: 1.5;
              --my: -0.85;
            "
          ></div>
          <div
            class="parallax__item"
            style="
              --pos-x: 22.87;
              --pos-y: 7.73;
              --size: 2800;
              --width: 24;
              --height: 24;
              --x: 65;
              --y: 114;
              --z: 0;
              --r: 0.6;
              --rx: 0;
              --ry: 0;
              --mx: 1.5;
              --my: -0.85;
            "
          ></div>
          <div
            class="parallax__item"
            style="
              --pos-x: 27.61;
              --pos-y: 5.71;
              --size: 1925;
              --width: 29;
              --height: 24;
              --x: 9;
              --y: 22;
              --z: 0;
              --r: 1;
              --rx: 0;
              --ry: 0;
              --mx: 1.5;
              --my: -0.85;
            "
          ></div>
          <div
            class="parallax__item"
            style="
              --pos-x: 32.4;
              --pos-y: 9.158;
              --size: 2550;
              --width: 35;
              --height: 35;
              --x: -30;
              --y: 54;
              --z: 0;
              --r: 0.25;
              --rx: 0;
              --ry: 0;
              --mx: 1.5;
              --my: -0.85;
            "
          ></div>
          <div
            class="parallax__item"
            style="
              --pos-x: 39.678;
              --pos-y: 10.714;
              --size: 780;
              --width: 108;
              --height: 36;
              --x: 83;
              --y: 64;
              --z: 0;
              --r: -0.6;
              --rx: 0;
              --ry: 0;
              --mx: 1.5;
              --my: -0.85;
            "
          ></div>
          <div
            class="parallax__item"
            style="
              --pos-x: 49.86;
              --pos-y: 7.255;
              --size: 2100;
              --width: 15;
              --height: 15;
              --x: 56;
              --y: -15;
              --z: 0;
              --r: 0.8;
              --rx: 0;
              --ry: 0;
              --mx: 1.5;
              --my: -0.85;
            "
          ></div>
          <div
            class="parallax__item"
            style="
              --pos-x: 56.37;
              --pos-y: 9.632;
              --size: 1700;
              --width: 28;
              --height: 19;
              --x: 96;
              --y: -15;
              --z: 0;
              --r: 0.8;
              --rx: 0;
              --ry: 0;
              --mx: 1.5;
              --my: -0.85;
            "
          ></div>
          <div
            class="parallax__item"
            style="
              --pos-x: 60.907;
              --pos-y: 8.762;
              --size: 2650;
              --width: 25;
              --height: 35;
              --x: -26;
              --y: -1;
              --z: 0;
              --r: 0.8;
              --rx: 0;
              --ry: 0;
              --mx: 1.5;
              --my: -0.85;
            "
          ></div>
          <div
            class="parallax__item"
            style="
              --pos-x: 64.945;
              --pos-y: 7.407;
              --size: 2650;
              --width: 25;
              --height: 35;
              --x: -21;
              --y: 95;
              --z: 0;
              --r: 0.8;
              --rx: 0;
              --ry: 0;
              --mx: 1.5;
              --my: -0.85;
            "
          ></div>
          <div
            class="parallax__item"
            style="
              --pos-x: 70.395;
              --pos-y: 6.29;
              --size: 1900;
              --width: 30;
              --height: 40;
              --x: 110;
              --y: 110;
              --z: 0;
              --r: 0.8;
              --rx: 0;
              --ry: 0;
              --mx: 1.5;
              --my: -0.85;
            "
          ></div>
          <div
            class="parallax__item"
            style="
              --pos-x: 94.808;
              --pos-y: 12.054;
              --size: 1200;
              --width: 30;
              --height: 40;
              --x: 130;
              --y: 55;
              --z: 0;
              --r: 0.8;
              --rx: 0;
              --ry: 0;
              --mx: 1.5;
              --my: -0.85;
            "
          ></div>
          <div
            class="parallax__item"
            style="
              --pos-x: 99.215;
              --pos-y: 9.357;
              --size: 2500;
              --width: 30;
              --height: 40;
              --x: 135;
              --y: 0;
              --z: 0;
              --r: 0.8;
              --rx: 0;
              --ry: 0;
              --mx: 1.5;
              --my: -0.85;
            "
          ></div>
        </div>
        <div class="scrolldown-wrapper">
          <div class="scrolldown">
            <svg height="30" width="10">
              <circle class="scrolldown-p1" cx="5" cy="15" r="2" />
              <circle class="scrolldown-p2" cx="5" cy="15" r="2" />
            </svg>
          </div>
        </div>
      </div>
      <!-- <div class="rightpane">
        <div class="containerr">
          <div class="rightbox">
            <div class="rb-container">
              <ul class="rb">
                <li class="rb-item" ng-repeat="itembx">
                  <div class="timestamp">Feb 2022-Present</div>
                  <div class="item-title">
                    <p>İntern</p>
                    Patika.dev & Orion Innovation Turkey Angular Bootcamp
                  </div>
                </li>
                <li class="rb-item" ng-repeat="itembx">
                  <div class="timestamp">2018-Sep 2021</div>
                  <div class="item-title">
                    <p>Project Engineer</p>
                    Dogu-Mer & Boryal Construction
                  </div>
                </li>
              </ul>
            </div>
            <div class="myP">
              <h3>My Projects</h3>
              <ul>
                <li>
                  <a
                    href="https://github.com/ferhat-aslan/Angular-SolarPanel-SytemDesign"
                    >1. Angular Design PV System</a
                  >
                </li>
                <li>
                  <a
                    href="https://github.com/ferhat-aslan/Angular-OpenWeatherMap"
                    >2. Angular Weather App</a
                  >
                </li>
                <li>
                  <a
                    href="https://github.com/ferhat-aslan/Flutter-Uber-ReDesign-Google-Map"
                    >3. Flutter Uber Redesign App</a
                  >
                </li>
                <li>
                  <a href="https://github.com/ferhat-aslan/WallRepo"
                    >4. Flutter WallRepo Unsplash App</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
    </section>
    <section id="experience" class="container-experience">
      <h1>Projects & Experience</h1>
      <div class="pro-ex-row">
        <div class="pro-col">
          <h1>Projects</h1>
          <div class="pro-card">
            <div class="pro-card-desc-image">
              <div class="pro-card-description">
                <a
                  href="https://github.com/ferhat-aslan/MEAN-Ngrx"
                  target="_blank"
                  >Angular MongoDb (MEAN) E-Commerce Project
                  <img
                    style="width: 23px; height: 23px"
                    src="./external-link.png"
                    alt=""
                /></a>
                <span
                  >This project developed by using Angular,
                  Bootsrap,Mongodb,Express.Js</span
                >
              </div>
              <!-- <div class="pro-card-images">
                <img
                  src="https://user-images.githubusercontent.com/83245111/172870616-ede3fa9b-3045-42d9-97bd-79d1fdde42a0.PNG"
                  alt=""
                />
                <img
                  src="https://user-images.githubusercontent.com/83245111/172870629-475541b9-74b3-47fd-a56d-f20c8ae7b9b3.PNG"
                  alt=""
                />
                <img
                  src="https://user-images.githubusercontent.com/83245111/172871148-0b4adf33-e64c-451d-97dd-9e61b94e1f68.PNG"
                  alt=""
                />
              </div> -->
            </div>

            <div class="tags">
              <span class="tag">Angular</span>
              <span class="tag">Bootstrap</span>
              <span class="tag">MongoDb</span>
              <span class="tag">Express.Js</span>
              <span class="tag">Node.Js</span>
              <span class="tag">HMTL</span>
              <span class="tag">CSS</span>
              <span class="tag">REST Api</span>
            </div>
          </div>
          <div class="pro-card">
            <div class="pro-card-desc-image">
              <div class="pro-card-description">
                <a
                  href="https://github.com/ferhat-aslan/Angular-SolarPanel-SytemDesign"
                  target="_blank"
                  >Solar Energy System Design App
                  <img
                    style="width: 23px; height: 23px"
                    src="./external-link.png"
                    alt=""
                /></a>
                <span
                  >The project is able to design Solar System and calculate
                  production of energy,income. NREL and Google Places Api was
                  used for this project.</span
                >
              </div>
            </div>

            <div class="tags">
              <span class="tag">Angular</span>
              <span class="tag">Bootstrap</span>
              <span class="tag">NREL Api</span>
              <span class="tag">Google Places Api</span>
              <span class="tag">HTML</span>
              <span class="tag">CSS</span>
              <span class="tag">REST Api</span>
            </div>
          </div>
          <div class="pro-card">
            <div class="pro-card-desc-image">
              <div class="pro-card-description">
                <a
                  href="https://github.com/ferhat-aslan/Heroku-Patika-Server"
                  target="_blank"
                  >Heroku Server
                  <img
                    style="width: 23px; height: 23px"
                    src="./external-link.png"
                    alt=""
                /></a>
                <span
                  >It is a server that I developed for a project and deployed to
                  heroku.</span
                >
              </div>
            </div>

            <div class="tags">
              <span class="tag">Heroku</span>
              <span class="tag">Node.Js</span>
              <span class="tag">Express.Js</span>
              <span class="tag">REST Api</span>
            </div>
          </div>
          <div class="pro-card">
            <div class="pro-card-desc-image">
              <div class="pro-card-description">
                <a
                  href="https://github.com/ferhat-aslan/Angular-E-Commerce-App"
                  target="_blank"
                  >E-Commerce App
                  <img
                    style="width: 23px; height: 23px"
                    src="./external-link.png"
                    alt=""
                /></a>
                <span
                  >This Project is Patika-Orion Innovation Turkey Angular
                  Bootcamp assignment. The server is active on heroku. Also, you
                  can test the project live in Vercel.</span
                >
              </div>
            </div>

            <div class="tags">
              <span class="tag">Angular</span>
              <span class="tag">Bootstrap</span>
              <span class="tag">HTML</span>
              <span class="tag">CSS</span>
              <span class="tag">Transloco</span>
              <span class="tag">REST Api</span>
              <span class="tag">Angular Material</span>
              <span class="tag">Chart.Js</span>
              <span class="tag">Sweetalert2</span>
              <span class="tag">Font Awesome</span>
            </div>
          </div>
          <div class="pro-card">
            <div class="pro-card-desc-image">
              <div class="pro-card-description">
                <a
                  href="https://github.com/ferhat-aslan/Flutter-Uber-ReDesign-Google-Map"
                  target="_blank"
                  >Flutter Uber ReDesign Google Map
                  <img
                    style="width: 23px; height: 23px"
                    src="./external-link.png"
                    alt=""
                /></a>
                <span>Flutter/Dart Mobile Application</span>
              </div>
            </div>

            <div class="tags">
              <span class="tag">Flutter</span>
              <span class="tag">Figma</span>
              <span class="tag">Geo Coding</span>
              <span class="tag">Geo Locator</span>
              <span class="tag">Location</span>
              <span class="tag">Google Map Flutter</span>
            </div>
          </div>
          <div class="pro-card">
            <div class="pro-card-desc-image">
              <div class="pro-card-description">
                <a
                  href="https://github.com/ferhat-aslan/Flutter-Firebase-Barcode-Scanner"
                  target="_blank"
                  >Flutter Firebase Barcode Scanner
                  <img
                    style="width: 23px; height: 23px"
                    src="./external-link.png"
                    alt=""
                /></a>
                <span
                  >I took the data (async) from Google Firebase under the
                  framework of SteamBuilder. In some cases, I got the data
                  directly with the barcode scanner.</span
                >
              </div>
            </div>

            <div class="tags">
              <span class="tag">Flutter</span>
              <span class="tag">Google Fonts</span>
              <span class="tag">Firebase</span>
              <span class="tag">Cloud Firestore</span>
              <span class="tag">Barcode Scanner</span>
              <span class="tag">Get</span>
              <span class="tag">Flutter Svg</span>
            </div>
          </div>
          <div class="pro-card">
            <div class="pro-card-desc-image">
              <div class="pro-card-description">
                <a
                  href="https://github.com/ferhat-aslan/Angular-OpenWeatherMap"
                  target="_blank"
                  >Angular Open Weather App
                  <img
                    style="width: 23px; height: 23px"
                    src="./external-link.png"
                    alt=""
                /></a>
                <span
                  >The project show weather of your location. The OpenWeatherMap
                  Api, Bootstrap and Angular was used.
                </span>
              </div>
            </div>

            <div class="tags">
              <span class="tag">Angular</span>
              <span class="tag">Bootstrap</span>
              <span class="tag">OpenWeathermap Api</span>
              <span class="tag">ReactiveForms Module</span>
              <span class="tag">HttpClient Module</span>
              <span class="tag">HTML</span>
              <span class="tag">CSS</span>
            </div>
          </div>
        </div>
        <div class="ex-col">
          <h1>Experiences</h1>
          <div class="ex-card">
            <div class="ex-card-desc-image">
              <div class="ex-card-description">
                <span>Frontend Developer | Ollang Inc.</span>
              </div>
            </div>

            <div class="ex" style="font-size: 15px; color: rgb(21, 18, 18)">
              <span>June 2022</span>
              <span> - </span>
              <span>Present</span>
            </div>
          </div>
          <div class="ex-card">
            <div class="ex-card-desc-image">
              <div class="ex-card-description">
                <span>Frontend Developer Bootcamp Traineship | Patika.dev</span>
              </div>
            </div>

            <div class="ex" style="font-size: 15px; color: rgb(21, 18, 18)">
              <span>February 2022</span>
              <span> - </span>
              <span>May 2022</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="particles.js"></script>

  <script src="script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/Flip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollToPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/Draggable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/EaselPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/MotionPathPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/PixiPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/TextPlugin.min.js"></script>

  <!--
DrawSVGPlugin.min.js, GSDevTools.min.js, InertiaPlugin.min.js, MorphSVGPlugin.min.js, MotionPathHelper.min.js, Physics2DPlugin.min.js, PhysicsPropsPlugin.min.js, ScrambleTextPlugin.min.js, and SplitText.min.js are Club GreenSock perks which are not available on a CDN. Download them from your GreenSock account and include them locally like this:

<script src="/[YOUR_DIRECTORY]/DrawSVGPlugin.min.js"></script>
<script src="/[YOUR_DIRECTORY]/GSDevTools.min.js"></script>
<script src="/[YOUR_DIRECTORY]/InertiaPlugin.min.js"></script>
<script src="/[YOUR_DIRECTORY]/MorphSVGPlugin.min.js"></script>
<script src="/[YOUR_DIRECTORY]/MotionPathHelper.min.js"></script>
<script src="/[YOUR_DIRECTORY]/Physics2DPlugin.min.js"></script>
<script src="/[YOUR_DIRECTORY]/PhysicsPropsPlugin.min.js"></script>
<script src="/[YOUR_DIRECTORY]/ScrambleTextPlugin.min.js"></script>
<script src="/[YOUR_DIRECTORY]/SplitText.min.js"></script>

Sign up at https://greensock.com/club or try them for free on CodePen or CodeSandbox
--></html>
