* {
  box-sizing: border-box;
  transform-style: preserve-3d;
  font-family: "Hattonlight", sans-serif;
}
@font-face {
  font-family: "Hattonbold";
  font-weight: bold;
  src: url("./H7.otf") format("opentype");
}
@font-face {
  font-family: "Hattonmedium";
  font-weight: medium;
  src: url("./H5.otf") format("opentype");
}
@font-face {
  font-family: "Hattonlight";
  font-weight: lighter;
  src: url("./H2.otf") format("opentype");
}
html {
  scroll-snap-type: y mandatory;
}
body {
  background: black;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-type: y mandatory;
}
img {
  border-radius: 25px;
  left: 95px;

  height: 150px;
  width: 150px;
}

.parallax {
  height: 50vmin;
  width: calc(50 * (484 / 479) * 1vmin);
  position: relative;
  perspective: 50vmin;
  transform: rotateX(calc((var(--rx, 0) * var(--ratio-y, 0)) * 1deg))
    rotateY(calc((var(--ry, 0) * var(--ratio-x, 0)) * 1deg))
    rotate(calc((var(--r, 0) * var(--ratio-x, 0)) * 1deg));
}
.parallax__item {
  position: absolute;
  left: calc(var(--x, 50) * 1%);
  top: calc(var(--y, 50) * 1%);
  height: calc(var(--height, auto) * 1%);
  width: calc(var(--width, auto) * 1%);
  transform: translate(-50%, -50%)
    translate3d(
      calc((var(--mx, 0) * var(--ratio-x, 0)) * 1%),
      calc((var(--my, 0) * var(--ratio-y, 0)) * 1%),
      calc(var(--z, 0) * 1vmin)
    )
    rotateX(calc((var(--rx, 0) * var(--ratio-y, 0)) * 1deg))
    rotateY(calc((var(--ry, 0) * var(--ratio-x, 0)) * 1deg))
    rotate(calc((var(--r, 0) * var(--ratio-x, 0)) * 1deg));
  transform-style: preserve-3d;
  background-image: url("./kody-spritesheet.png");
  background-position: calc(var(--pos-x, 0) * 1%) calc(var(--pos-y, 0) * 1%);
  background-size: calc(var(--size, 0) * 1%);
}
.container-home {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  row-gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hire-button {
  background-color: #2464ff;
  border: 2px solid transparent;
  padding: 4px 10px;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.hire-button:hover {
  background-color: transparent;
  border: 2px solid #2464ff;
  color: white;
}
.download-button {
  background-color: transparent;
  border: 2px solid white;
  padding: 4px 10px;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.download-button:hover {
  background-color: #2464ff;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.container-experience {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 65px;
}
.indent {
  text-indent: 50px;
}

.leftpane {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #fbfbfb;
  justify-content: center;
  width: 25%;
  height: 100%;
  float: left;
  border-collapse: collapse;
}
.rightpane {
  width: 24%;
  height: 100%;
  position: relative;
  float: right;
  border: 2px solid #fbfbfb;
  border-collapse: collapse;
}
.header-skill {
  top: 0;
  position: fixed;
  font-family: "Hattonlight", sans-serif;
}
.middlepane {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 51%;
  height: 100%;
}
.skills {
  position: absolute;
  top: 15px;
  left: 50%;
}
* {
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: dotted;
  font-weight: bold;
}
.object-fit {
  display: flex;
}
div {
  font-size: 5;
}
.myP {
  margin-left: 15px;
}
.item-title p {
  color: grey;
}
p {
  overflow: hidden;

  box-sizing: content-box;
  width: 300px;
  font-size: 14px;
  line-height: 24px;

  max-lines: 3;
}
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap");

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
  align-items: center;
  justify-content: center;
}
.scrolldown-wrapper {
  left: 50%;
  bottom: 20px;
  position: absolute;
  text-align: center;
  bottom: 0;
  transform: translate(-50%, -50%);
}

.scrolldown {
  border: 2px solid #ffffff;
  border-radius: 30px;
  height: 46px;
  margin: 0 auto 8px;
  text-align: center;
  width: 30px;
}

.scrolldown-p1,
.scrolldown-p2 {
  animation-duration: 1.5s;
  animation-name: scrolldown;
  animation-iteration-count: infinite;
  fill: #ffffff;
}

.scrolldown-p2 {
  animation-delay: 0.75s;
}

@keyframes scrolldown {
  0% {
    opacity: 0;
    transform: translate(0, -8px);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 8px);
  }
}

nav {
  width: 100%;
  background: black;
  padding: 0 15px;
  position: sticky;
  z-index: 10;
  top: 0;
}
nav li a {
  color: white;
  text-decoration: none;
}
.menu {
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 0px 10px 0px 0;
}
.item {
  padding: 0px 10px;
}
.item.button {
  padding: 0px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #0080ff;
}
/* Mobile menu */
.menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}

.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 0px 15px;
    margin: 5px 0;
  }

  .button.secondary {
    border: 0;
  }

  .button a:hover {
    text-decoration: none;
    border: #0080ff;
  }
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }

  .toggle {
    display: none;
  }
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}
canvas {
  display: block;
  vertical-align: bottom;
}
section {
  scroll-snap-align: start;
}
.pro-ex-row {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.pro-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: visible;
}
.ex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pro-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  border: 2px solid white;
  max-width: 400px;
  min-height: 100px;
  width: 100%;
}
.pro-card-desc-image {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pro-card-description {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
}
.pro-card-description span:nth-child(2) {
  color: #a7a1a1;
}
.pro-card-images {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  gap: 4px;
}
.pro-card-images img {
  max-width: 55px;
  height: 55px;
  border-radius: 2px;
  object-fit: cover;
}
.tags {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
  font-size: 13px;
}
.tag {
  background-color: #2464ff;
  border: 2px solid transparent;
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
  cursor: default;
}
.ex-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  border: 2px solid white;
  max-width: 400px;
  min-height: 100px;
  width: 100%;
}
.ex-card-desc-image {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ex-card-description {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
}
.ex-card-description span:nth-child(2) {
  color: #a7a1a1;
}
.ex-card-images {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  gap: 4px;
}
.ex-card-images img {
  max-width: 55px;
  height: 55px;
  border-radius: 2px;
  object-fit: cover;
}
.ex {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
  font-size: 13px;
  color: #444;
}
